<% if flash[:notice] %>
  <div class="mb-4 p-4 bg-green-50 text-green-700 rounded-lg" data-controller="removals">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="mb-4 p-4 bg-red-50 text-red-700 rounded-lg" data-controller="removals">
    <%= flash[:alert] %>
  </div>
<% end %>

